/* CSS Variables for Repeated Values */
:root {
    --primary-color: #3498db;
    --primary-hover-color: #2980b9;
    --secondary-color: #2c3e50;
    --background-color: #ecf0f1;
    --dark-background-color: #101a25;
    --dark-secondary-color: #bdc3c7;
    --dark-primary-color: #3498db;
    --dark-primary-hover-color: #2980b9;
    --transition-time: 0.3s;
    --font-family: 'Roboto', Arial, sans-serif;
}

/* General Styles */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: var(--secondary-color);
    background-color: var(--background-color);
    transition: background-color var(--transition-time), color var(--transition-time);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--transition-time) ease;
}

a:hover {
    color: var(--primary-hover-color);
}

h1, h2, h3 {
    margin: 0;
    color: var(--secondary-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: var(--transition-time);
}

.sidenav a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: var(--transition-time);
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Header Styles */
header {
    background-color: var(--background-color);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
    transition: background-color var(--transition-time);
}

.quick-links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.quick-links a {
    font-weight: bold;
    color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    transition: background-color var(--transition-time) ease, border-color var(--transition-time) ease;
}

.quick-links a:hover {
    background-color: var(--primary-hover-color);
    color: white;
    border-color: var(--primary-hover-color);
}

/* Light mode styles (default) */
body {
    background-color: var(--background-color);
    color: var(--secondary-color);
}

/* Dark mode styles */
.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-secondary-color);
}

.dark-mode a {
    color: var(--dark-primary-color);
}

.dark-mode a:hover {
    color: var(--dark-primary-hover-color);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
    color: var(--dark-secondary-color);
}

.dark-mode #introduction p,
.dark-mode #about p,
.dark-mode .social-links a,
.dark-mode .additional-contact a {
    color: var(--dark-secondary-color);
}

.dark-mode header {
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--dark-primary-color);
}

.dark-mode main {
    background-color: var(--dark-background-color);
    color: var(--dark-secondary-color);
}

/* Main Content */
main {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    transition: background-color var(--transition-time), color var(--transition-time);
}

.dark-mode main {
    background-color: var(--dark-background-color);
}

/* Introduction Section */
#introduction {
    text-align: center;
    padding: 40px;
    background-color: var(--primary-color);
    color: white;
}

#introduction h1 {
    margin-bottom: 20px;
}

.dark-mode #introduction {
    background-color: var(--dark-primary-color);
}

/* About Section */
#about {
    text-align: center;
    padding: 40px;
    background-color: var(--background-color);
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.dark-mode #about {
    background-color: var(--dark-background-color);
    border-top: 2px solid var(--dark-primary-color);
    border-bottom: 2px solid var(--dark-primary-color);
}

.site-logo img {
    border-radius: 50%;
    width: 132px;
    height: 132px;
}

#about h2 {
    margin-top: 10px;
}

/* Subscription Link */
.subscription-link {
    text-align: center;
    margin-top: 40px;
}

.subscribe-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color var(--transition-time) ease;
}

.subscribe-button:hover {
    background-color: var(--primary-hover-color);
}

.dark-mode .subscribe-button {
    background-color: var(--dark-primary-color);
}

.dark-mode .subscribe-button:hover {
    background-color: var(--dark-primary-hover-color);
}

/* Content Section */
#content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.dark-mode #content h2 {
    color: var(--dark-primary-color);
}

.content-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.column {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-time);
}

.column:hover {
    transform: translateY(-5px);
}

.dark-mode .column {
    background-color: var(--dark-background-color);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Video Section */
.video-section {
    text-align: center;
    margin: 40px 0;
}

.video-container {
    margin-bottom: 20px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.video-container iframe {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Contact Section */
#contact {
    padding: 40px;
    background-color: var(--background-color);
    border-top: 2px solid var(--primary-color);
}

.dark-mode #contact {
    background-color: var(--dark-background-color);
    border-top: 2px solid var(--dark-primary-color);
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.email-button {
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color var(--transition-time) ease;
}

.email-button:hover {
    background-color: var(--primary-hover-color);
}

.dark-mode .email-button {
    background-color: var(--dark-primary-color);
}

.dark-mode .email-button:hover {
    background-color: var(--dark-primary-hover-color);
}

.additional-contact {
    margin-top: 20px;
}

.additional-contact a {
    display: block;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.dark-mode .additional-contact a {
    color: var(--dark-primary-color);
}

/* Footer */
footer {
    background-color: var(--background-color);
    text-align: center;
    padding: 20px;
    border-top: 2px solid var(--primary-color);
}

.dark-mode footer {
    background-color: var(--dark-background-color);
    border-top: 2px solid var(--dark-primary-color);
}

footer p {
    margin: 0;
    color: #666;
}

.dark-mode footer p {
    color: var(--dark-secondary-color);
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links li {
    margin-right: 10px;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

/* PayPal Button */
.paypal-button {
    display: inline-block;
    width: 160px;
    height: 40px;
    background-image: url('catsmoker/images/paypal.png'); /* Add your PayPal logo */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    border: none;
}

/* Media Queries for Various Screen Sizes */

/* Small screens (max-width: 600px) */
@media screen and (max-width: 600px) {
    .social-links {
        flex-wrap: wrap;
    }

    .social-links li {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .social-links a {
        width: 30px;
        height: 30px;
    }

    .paypal-button {
        width: auto;
        height: 30px;
        padding: 0 10px;
        line-height: 30px;
    }

    .quick-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .quick-links a {
        margin-bottom: 10px;
    }
}

/* Medium screens (min-width: 601px) and (max-width: 768px) */
@media screen and (min-width: 601px) and (max-width: 768px) {
    .content-group {
        flex-direction: column;
        align-items: center;
    }

    .column {
        min-width: 100%;
        padding: 10px;
    }

    .video-container {
        grid-template-columns: 1fr;
    }
}

/* Large screens (min-width: 769px) and (max-width: 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .content-group {
        flex-direction: row;
        justify-content: center;
    }

    .column {
        flex: 0 0 48%;
    }

    .video-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Extra large screens (min-width: 1025px) */
@media screen and (min-width: 1025px) {
    .content-group {
        flex-direction: row;
        justify-content: space-between;
    }

    .column {
        flex: 0 0 30%;
    }

    .video-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
