/* CSS Variables for Repeated Values */
:root {
    --primary-color: #3498db;
    --primary-hover-color: #2980b9;
    --secondary-color: #000000;
    --background-color: #ffffff;
    --dark-background-color: #000000;
    --dark-secondary-color: #ffffff;
    --dark-primary-color: #3498db;
    --dark-primary-hover-color: #2980b9;
    --transition-time: 0.3s;
    --font-family: 'Roboto', Arial, sans-serif;
}

/* General Styles */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: var(--secondary-color);
    background-color: var(--background-color);
    transition: background-color var(--transition-time), color var(--transition-time);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--transition-time) ease;
}

a:hover {
    color: var(--primary-hover-color);
}

h1, h2, h3 {
    margin: 0;
    color: var(--secondary-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Animated Text */
.animated-text {
    text-align: center;
}

.animated-text span {
    display: block;
    opacity: 0;
    color: var(--primary-color);
    font-size: 20px;
    animation: type 2s forwards;
}

@keyframes type {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Header Styles */
header {
    background-color: var(--background-color);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
    transition: background-color var(--transition-time);
}

.dark-mode header {
    background-color: var(--dark-background-color);
    border-bottom: 2px solid var(--dark-primary-color);
}

.openbtn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode .openbtn {
    color: var(--dark-background-color);
}

/* Dark Mode Button */
#theme-toggle {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color var(--transition-time);
}

#theme-toggle:hover {
    background-color: var(--primary-hover-color);
}

.dark-mode #theme-toggle {
    background-color: var(--dark-primary-color);
}

.dark-mode #theme-toggle:hover {
    background-color: var(--dark-primary-hover-color);
}

/* Downloads Button */
#Downloads {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color var(--transition-time);
}

#Downloads:hover {
    background-color: var(--primary-hover-color);
}

.dark-mode #Downloads {
    background-color: var(--dark-primary-color);
}

.dark-mode #Downloads:hover {
    background-color: var(--dark-primary-hover-color);
}

/* support me Button */
#support-me {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color var(--transition-time);
}

#support-me:hover {
    background-color: var(--primary-hover-color);
}

.dark-mode #support-me {
    background-color: var(--dark-primary-color);
}

.dark-mode #support-me:hover {
    background-color: var(--dark-primary-hover-color);
}

/* Main Content */
main {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    transition: background-color var(--transition-time), color var(--transition-time);
}

.dark-mode main {
    background-color: var(--dark-background-color);
}

/* Introduction Section */
#introduction header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    text-align: center;
}

.text-content {
    max-width: 800px;
    margin: 0 auto;
}

.dark-mode #introduction header h1, 
.dark-mode #introduction header p {
    color: var(--dark-secondary-color);
}

/* About Section */
#about {
    text-align: center;
    padding: 40px;
    background-color: var(--background-color);
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.dark-mode #about {
    background-color: var(--dark-background-color);
    border-top: 2px solid var(--dark-primary-color);
    border-bottom: 2px solid var(--dark-primary-color);
}

.site-logo img {
    border-radius: 50%;
    width: 132px;
    height: 132px;
}

#about h2 {
    margin-top: 10px;
}

.dark-mode h1, 
.dark-mode h2, 
.dark-mode h3, 
.dark-mode p {
    color: var(--dark-secondary-color);
}

/* Subscription Link */
.subscription-link {
    text-align: center;
    margin-top: 40px;
}

.subscribe-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color var(--transition-time) ease;
}

.subscribe-button:hover {
    background-color: var(--primary-hover-color);
}

.dark-mode .subscribe-button {
    background-color: red;
}

.dark-mode .subscribe-button:hover {
    background-color: var(--dark-primary-hover-color);
}

/* Style for the banner image */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: var(--background-color);
    text-align: center;
    padding: 20px;
    border-top: 2px solid var(--primary-color);
    transition: background-color 0.3s, border-top 0.3s;
}

.dark-mode footer {
    background-color: var(--dark-background-color);
    border-top: 2px solid var(--dark-primary-color);
}

footer p {
    margin: 0;
    color: var(--secondary-color);
    transition: color 0.3s;
}

.dark-mode footer p {
    color: var(--dark-secondary-color);
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links li {
    margin-right: 10px;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

/* YouTube video section and Supporters YouTube video section */
.video-section,
.Supporters-section {
    display: flex;
    flex-wrap: wrap;
}

.video-container,
.Supporters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.video-container iframe,
.Supporters-container iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
	max-height: 315px;
	aspect-ratio: 16 / 9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-time), box-shadow var(--transition-time);
	object-fit: cover;
}

.video-container iframe:hover,
.Supporters-container iframe:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media screen and (max-width: 360px) {
    .video-container iframe,
    .Supporters-container iframe {
        width: calc(100% - 10px); /* Full width for very small screens */
    }
}

/* Contact Section */
#contact .section {
    padding: 40px;
    background-color: var(--background-color);
    text-align: center;
    transition: background-color var(--transition-time);
}

#contact header h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

#contact header p {
    font-size: 1.2em;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.dark-mode #contact .section {
    background-color: var(--dark-background-color);
}

.dark-mode #contact header h2, 
.dark-mode #contact header p {
    color: var(--dark-secondary-color);
}

.contact-info {
    margin-bottom: 20px;
}

.email-button,
.call-button,
.whatsapp-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color var(--transition-time);
    margin: 10px;
}

.email-button:hover,
.call-button:hover,
.whatsapp-button:hover {
    background-color: var(--primary-hover-color);
}

.dark-mode .email-button,
.dark-mode .call-button,
.dark-mode .whatsapp-button {
    background-color: var(--dark-primary-color);
}

.dark-mode .email-button:hover,
.dark-mode .call-button:hover,
.dark-mode .whatsapp-button:hover {
    background-color: var(--dark-primary-hover-color);
}

/* Custom styles for call and WhatsApp buttons */
.call-button,
.whatsapp-button {
    background-color: #28a745;
}

.call-button:hover,
.whatsapp-button:hover {
    background-color: #218838;
}
